.content{
  height: 100%;
  width:100%;
  display: flex;
  justify-content: center;
  padding-top:30px
}
button{
  width: 100px;
  height:40px;
  background: wheat;
  border-radius: 5px;
  color: black;
  font-weight:500;
  text-transform: uppercase;
  color:white;
}
