@import "../../../../../styles/variables";

.panel {
  position: fixed;
  height: 100vh;
  width: 30%;
  max-width: $panel-width;
  background: #fafafa;
  top: 0;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  &#left-panel {
    left: -$panel-width;
    // left: 0;
    padding-left: 15px;
    border-right: 1px solid lightblue;
    &.open {
      left: 0;
    }
  }
  &#right-panel {
    right: -$panel-width;
    // right: 0;
    padding-right: 15px;
    border-left: 1px solid lightblue;
    &.open {
      right: 0;
    }
  }
  .content {
    position: relative;
    > i {
      position: absolute;
      right: 25px;
      top: 0;
      a {
        font-size: 2em;
      }
    }
    .header,
    nav {
      display: flex;
      justify-content: center;
    }
    nav {
      margin-top: 55px;
    }
    .header {
      padding-top: 20px;
      .image-holder-40 {
        width: 40px;
      }
    }
  }
}
