@import "../../../../../styles/variables";

.panel-options {
  position: absolute;
  height: 100%;
  z-index: 2;
  background: rgb(22, 67, 165);
  > ul {
    height: 100%;
    width: 25px;
    cursor: pointer;
    padding-top: $ulPadding;
    > li {
      color: white;
      h4 {
        font-size: 1.3em;
        letter-spacing: 1px;
      }
    }
  }
  &#left-panel-options {
    padding-top: 5px;
    left: 0;
    > ul {
      padding-top: $ulPadding + 3px;
    }
    li {
      transform: rotate(270deg);
    }
  }
  &#right-panel-options {
    right: 0;
    li {
      transform: rotate(90deg);
    }
  }
}
