<div id="wrapper">
  <div id="left-panel-options" class="panel-options">
    <ul (click)="panelDrawerService.toggleDrawer('left')">
      <li>
        <a href="#">left</a>
      </li>
    </ul>
  </div>
  <div id="right-panel-options" class="panel-options">
    <ul (click)="panelDrawerService.toggleDrawer('right')">
      <li>
        <a href="#">right</a>
      </li>
    </ul>
  </div>
  <!---->
  <main id="main">
    <app-panel-main></app-panel-main>
  </main>
  <aside id="left-panel" class="panel" [class.open]="panelDrawerService.leftDrawerOpen === true">
    <app-panel-left></app-panel-left>
  </aside>
  <aside id="right-panel" class="panel" [class.open]="panelDrawerService.rightDrawerOpen === true">
      <app-panel-right></app-panel-right>
  </aside>
</div>
