:host {
  position: relative;

  #wrapper {
    position: relative;
  }

  main,
  .panel {
    transition: all .3s ease-in-out;
  }

  main {
    background: #f0f0f0;
    padding: 0 300px;
    height: 100vh;
  }

  aside {
    position: fixed;
    height: 100vh;
    width: 30%;
    max-width: 350px;
    background: #fafafa;
    top: 0;
    z-index: 1;
    &#left-panel {
      left: 0;
      border-right: 1px solid lightblue;
      &.open {
        left: 0;
      }
    }
    &#right-panel {
      right: 0;
      border-left: 1px solid lightblue;
      &.open {
        right: 0;
      }
    }
  }

  .panel-options {
    position: absolute;
    height: 100%;
    z-index: 2;
    background: grey;
    > ul {
      height: 100%;
      width: 25px;
      cursor: pointer;
      padding-top: 10px;
      > li {
        color: white;
      }
    }
    &#left-panel-options {
      left: 0;
      li {
        transform: rotate(270deg);

      }
    }
    &#right-panel-options {
      right: 0;
      li {
        transform: rotate(90deg);

      }
    }
  }

}
