:host {
  position: relative;
}
#wrapper {
  position: relative;
}
main,
.panel {
  transition: all .8s ease-in-out;
}

main {
  background: #f0f0f0;
  padding: 0 300px;
  height: 100vh;
}

aside {
  position: fixed;
  height: 100vh;
  width: 325px;
  background: #fafafa;
  top: 0;
  z-index: 1;
}

aside > div {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0 10px;
}

aside#left-panel > div {
  padding-right: 30px;
}

aside#right-panel > div {
  padding-left: 30px;
}

aside > div > ul {
  position: absolute;
  height: 100%;
  width: 25px;
  cursor: pointer;
  padding-top: 5px;
}

aside#left-panel > div > ul {
  right: 0;
}

aside#right-panel > div > ul {
  left: 0;
}

aside#left-panel > div > ul > li {
  transform: rotate(270deg);
}

aside#right-panel > div > ul > li {
  transform: rotate(90deg);
}

#left-panel {
  left: -300px;
  border-right: 1px solid lightblue;
}

#right-panel {
  right: -300px;
  border-left: 1px solid lightblue;
}

#right-panel.open {
  right: 0;
}

#left-panel.open {
  left: 0;
}
