/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: 'Mukta', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Dosis', sans-serif;
}
button{
  width: 100px;
  height: 40px;
  font-weight:500;
  text-transform: uppercase;
  cursor: pointer;
}
